@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="p-4 p-md-4 mb-4 rounded text-bg-dark col-md-12 shadow-lg">
    <div class="rounded ship-hero-inside">
        <h1 class="text-danger">Error.</h1>
        <h2 class="">An error occurred while processing your request.</h2>
    </div>
</div>
