@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <input></input>
    <br>
    <p>Search for a TV series and get a heatmap of average IMDb ratings for each episode!</p>
    <p>For example: <a asp-page="Title" asp-route-tcode="tt11198330">House of the Dragon</a>, <a asp-page="Title" asp-route-tcode="tt7631058">The Lord of the Rings: The Rings of Power</a>, <a asp-page="Title" asp-route-tcode="tt8772296">Euphoria</a></p>
</div>
