@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <input></input>
    <br>
    <p>Search for a TV series and get a heatmap of average IMDb ratings for each episode!</p>
    <p>For example: <a asp-page="Title" asp-route-title="tt11198330">House of the Dragon</a></p>
</div>
